* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fa5557;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
